.nav-head {
	background: #1a1a1a;
	height: 50px;
	color: #fff;
	padding: 0 0 0 15px;
}
.nav-head .nav-head-title {
	line-height: 50px;
	-webkit-transform-style: preserve-3d;
}
.nav-head .nav-head-title .title-main {
	font-size: 26px;
}
.nav-head .nav-head-title .title-main:hover {
	-webkit-animation: "shake" 0.2s   2 normal;
	animation: "shake" 0.5s   2 normal;
}
.nav-head .nav-head-title .title-sub {
	font-size: 14px;
	padding-left: 5px;
}
.nav-head .head-tools {
	width: 150px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	cursor: pointer;
}
.nav-head .head-tools .tools-content {
	height: 50px;
}
.nav-head .head-tools .J-help {
	width: 50px;
	position: absolute;
	right: 0px;
	-webkit-animation: "help" 4s   infinite normal;
}
.nav-head .head-tools .J-help:after {
	content: "\e603";
	font-size: 26px;
	line-height: 50px;
	font-family: "iconfont";
}
.nav-head .head-tools .tools-list:hover {
	-webkit-animation: none;
}
.nav-head .head-tools:hover .help-content {
	display: block;
}
.nav-head .head-tools .help-content {
	border: solid  #1a1a1a;
	border-width: 0 1px 1px 1px;
	position: absolute;
	width: 150px;
	right: 0px;
	color: #1a1a1a;
	display: none;
}
.nav-head .head-tools .help-content ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav-head .head-tools .help-content li {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
}
.nav-head .head-tools .help-content li a {
	display: block;
}
.nav-head .head-tools .help-content li:hover {
	background: #1a1a1a;
	color: #fff;
}
.nav-head .head-tools .help-content li a:hover {
	color: #fff;
}
.main {
	padding: 30px;
}
.main ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.main ul li {
	display: inline-block;
	width: 170px;
	height: 210px;
	text-align: center;
	margin-right: 30px;
	border-style: dashed;
	border-width: 1px;
	border-color: #0ae;
}
.main ul li img {
 
	transition: 0.5s;
	-moz-transition: 0.5s; /* Firefox 4 */
	-webkit-transition:0.5s; /* Safari and Chrome */
	-o-transition: 0.5s; /* Opera */
}

.main ul li:hover img {
	
	/*-webkit-animation: "act1" 0.5s linear ;*/ 

	transform:scale(1.1);
	-moz-transform:scale(1.1); /* Firefox 4 */
	-webkit-transform:scale(1.1); /* Safari and Chrome */
	-o-transform:scale(1.1); /* Opera */
}

.main ul li a{
	transition-duration:1s,1s,1s,1s,1s,1s;
}
.main ul li:hover a {
	color:#f4333c; 
}	
.main ul li:hover{
	-webkit-box-shadow: 0 0 6px #828385;
	-moz-box-shadow: 0 0 6px #828385;
	box-shadow: 0 0 6px #828385;

	-webkit-animation-name: breathingLight;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
} 

.main ul li .qrcodeIMG {
	padding: 15px 15px 15px 15px;
}

.nav-foot {
	width: 100%;
	height: 50px;
	font-size: 14px;
	background: #1a1a1a;
	color: #fff;
	position: fixed;
	bottom: 0px;
	padding: 10px 15px 10px 15px;
}
.nav-foot .title {
	font-size: 16px;
}
.nav-foot a {
	padding-left: 10px;
}
@-webkit-keyframes "act1" {
	0% {
		-webkit-transform: scale(1)
	}
	50% {
		-webkit-transform: scale(1.1)
	}
	100% {
		-webkit-transform: scale(1)
	}
}
@-webkit-keyframes "help" {
	0% {
		-webkit-transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
	}
}
@-webkit-keyframes "shake" {
	0% {
		-webkit-transform: rotateZ(0deg);
	}
	20% {
		-webkit-transform: rotateZ(40deg);
	}
	40% {
		-webkit-transform: rotateZ(0deg);
	}
	60% {
		-webkit-transform: rotateZ(-40deg);
	}
	100% {
		-webkit-transform: rotateZ(0deg);
	}
}

@-webkit-keyframes 'breathingLight' {
        from {
                /*background-color: #f6fcfe;*/
                /*border-radius:0px;*/
                -webkit-box-shadow:0 0 5px #828385;
        }
  50% {
                /*background-color: #eee;*/
                /*border-radius:30px;*/
                -webkit-box-shadow: 0 0 10px #0ae;
        }
  to {
                /*background-color: #f6fcfe;*/
                /*border-radius:0px;*/
                -webkit-box-shadow:0 0 5px #828385;
        }
}